[submodule ".themes/whitespace"]
	path = .themes/whitespace
	url = git://github.com/lucaslew/whitespace.git
[submodule ".themes/BlogTheme"]
	path = .themes/BlogTheme
	url = https://github.com/rastersize/BlogTheme.git
